html {
    height: 100%;
}

body {
    height: 100%;
}

h1 {
    font-family: 'Comfortaa', sans-serif;
    margin: 0px;
}


section#setUsr{
    width: 100%;
    text-align: center;
    margin-top:10px;
}

section#chatroom {
    border: 5px inset black;
    height: 40%;
    margin:15px;
    overflow: auto;
}

section#input_zone {
    width: 70%;
    text-align: center;
    margin-top:10px;
}


input#username {
    font-family: 'Comfortaa', sans-serif;
}

input#message {
    display: inline-block;
    width: 88%;
    height: 70%;
    font-family: 'Comfortaa', sans-serif;
    font-size: 2vh;
}

button#send_message {
    display: inline-block;
    height: 70%;
    width: 10%;
}

p.message {
    margin: 0px;
    width: 100%;
    height: 40px;
    font-size: 2vh;
    font-family: 'Comfortaa', sans-serif;
    padding: 1vh;
}

.message:nth-child(even) {
    background-color: lightsteelblue;
}

.message:nth-child(odd) {
    background-color: lightseagreen;
}